* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

.intro__container {
  text-align: center;
  color: #293264;
  margin: 0;
}

.intro__title {
  font-family: 'Karla', sans-serif;
  margin-bottom: 7px;
}

.intro__subtitle {
  margin-bottom: 29px;
}

.intro__btn {
  cursor: pointer;
  border: none;
  width: 193px;
  height: 52px;
  border-radius: 15px;
  background-color: #4D5B9E;
  color: #FFF;
  font-family: inherit;
}

.quizz__container {
  max-width: 100%;
  margin: 0 auto;
}

.quizz__question {
  color: #293264;
}

.quizz__answers-container {
  cursor: pointer;
  display: flex;
  gap: .5rem;
}

.quizz__answers {
  padding: .25rem .5rem;
  border: 1px solid #293264;
  border-radius: 8px;
}

.quizz__line {
  margin-top: 15px;
  width: 80%;
  border-bottom: 1px solid #DBDEF0;
}
